body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header,
footer {
  background-color: #7ddad5;
  padding: 10px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100%;
}

.sidebar {
  padding: 20px;
  border-right: 1px solid #ccc;
}

.main-content {
  padding: 20px;
}

h2 {
  color: #333;
}
