* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

section {
  width: 2000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

div {
  width: 90%;
  height: 25%;
  background-color: rgb(0, 225, 255);
}

.one {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.one div {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 20px;
  background-color: white;
  margin-left: 10px;
}

.two {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: end;
  gap: 10px;
}

.two div {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 20px;
  background-color: white;
  margin-top: 10px;
  margin-right: 10px;
}

.three {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.three div {
  width: 200px;
  height: 130px;
  background-color: white;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.four {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
}

.four div {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 20px;
  background-color: white;
  margin-left: 10px;
}

.four div:first-child {
  background-color: red;
  height: 40px;
}
