* {
  box-sizing: border-box;
}

body {
  margin: 100px;
  margin-top: 0px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

main {
  display: flex;
  justify-content: center;
}
nav {
  width: 10%;
  height: 90vh;
  display: flex;
  text-align: left;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 20px;
  font-size: large;
}

#groups {
  width: 90%;
  height: 95vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

#groups article {
  padding-top: 10px;
}

#groups article img {
  width: 350px;
  border-radius: 10px;
}

#one {
  border: 2px solid gray;
  border-radius: 20px;
  flex: 2;
  min-width: calc(66.666% - 20px);
  overflow: hidden;
}

#two {
  border: 2px solid gray;
  border-radius: 20px;
  flex: 1; /* Ocupa 1 parte del espacio */
  min-width: calc(33.333% - 20px); /* Ajuste para el gap */
  overflow: hidden;
}

/* Tercer, cuarto y quinto elemento: cada uno ocupa 1/3 del ancho */
#three,
#four,
#five {
  border: 2px solid gray;
  border-radius: 20px;
  flex: 1; /* Cada uno ocupa 1 parte del espacio */
  min-width: calc(33.333% - 20px); /* Ajuste para el gap */
  overflow: hidden;
}

/* Ajuste de imágenes dentro de los elementos */
#one img,
#two img,
#three img,
#four img,
#five img {
  width: 100%; /* Para que las imágenes ocupen todo el ancho del contenedor */
  height: auto; /* Para mantener la proporción */
}
