* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

#container {
  display: flex;
  width: 70%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

section {
  background-color: #000000;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.5);
}

#_1 {
  flex: 1;
  padding: 25px;
  min-width: 264px;
  height: fit-content;
  color: #f7f7f7;
}

#_2 {
  flex: 2;
  padding: 25px;
}

label {
  font-size: 14px;
  color: #ddd;
  padding-bottom: 5px;
}

input[type="text"],
select,
textarea {
  background-color: #000000;
  color: #ccc;
  border: 1px solid #555;
  border-radius: 6px;
  padding: 8px;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

h4 {
  padding-bottom: 12px;
  font-size: large;
}

p:nth-of-type(1),
p:nth-of-type(3),
p:nth-of-type(5),
p:nth-of-type(7),
p:nth-of-type(9) {
  margin-bottom: 20px;
}

textarea {
  font: inherit;
  font-size: 15px;
  resize: vertical;
  min-height: 80px;
}

.nombre,
.correo,
.telefono {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 140px;
}

.asunto,
.mensaje,
.motivo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn {
  font: inherit;
  font-size: 12px;
  background-color: violet;
  border: 0;
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
}

.submit {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.submit input {
  background-color: rgb(132, 0, 255);
  font-weight: bold;
}

.submit button {
  color: white;
  background-color: #000000;
  border: 1px white solid;
}
