#grid-container {

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    width: 50%;
    margin: 10px auto;
    gap: 10px;

}

div {
    border: 1px solid black;
    padding: 10px;
    
}



#header {
    grid-column: 1/3;
    
}

#sidebar {
    grid-row: 2/4;
}

#footer {
    grid-column: 2/3;
}
